



/* General Styling */
body {
    text-align: center;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* Game Board */
.board {
    width: 400px;
    background-color: lightgrey;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
}

/* Answer Row */
.answer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.answer-box {
    flex: 3;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.answer {
    width: 80%;
    height: 70%;
    border-radius: 5px;
    background: grey;
}

.button-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.submit-btn, .delete-btn, .reset-btn {
    padding: 10px;
    font-weight: bold;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
    background: lightblue;
}

.submit-btn:hover {
    background: deepskyblue;
}

.delete-btn:hover {
    background: deepskyblue;
}

.reset-btn:hover {
    background: deepskyblue;
}

/* Guess Rows */
.guess-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.delete-btn, .reset-btn {
    margin: auto;
}

.guess-row {
    display: flex;
    justify-content: space-between;
}

.guess-colors, .grade-colors {
    display: flex;
    gap: 5px;
}

.guess-color, .grade-color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
    background: grey;
}

.grade-colors {
    gap: 3px;
}

/* Color Palette */
.color-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.color-outer {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
    transition: transform 0.2s;
}

.color-outer:hover {
    transform: scale(1.2);
}

.color-inner {
    width: 60%;
    height: 60%;
    border-radius: 50%;
}

.red { 
    background: red; 
}
.green { 
    background: green;
}
.blue { 
    background: blue; 
}
.yellow { 
    background: yellow; 
}
.orange { 
    background: orange; 
}
.purple { 
    background: purple; 
}


p {
    margin: auto;
    max-width: 700px;
}
