


  

/* General Styling */
body {
    text-align: center;
    font-family: Merriweather, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}


h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    margin-top: 10px
}

.audio-toggle-btn {
    position: fixed;
    bottom: 60px;
    right: 10px;
    padding: 10px 20px;
    margin: 20px;
    background-color:#1c92a7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow:0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.audio-toggle-btn:hover {
    background-color: #45a049;
}

#changeBackgroundButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #1c92a7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

#changeBackgroundButton:hover {
    background-color: #45a049;
}


/* Message Box */
.message-box {
    display: none; /* Hidden by default */
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 20px;
    background-color: #f8f9fa;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 1.2em;
    z-index: 1000;
    text-align: center;
    transition: opacity 0.5s ease;
}

.message-box.show {
    display: block;
    opacity: 1;
}

.message-box.hide {
    opacity: 0;
}


/* Game Board */
.board {
    width: 400px;
    background-color: lightgrey;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 20px
}

/* Answer Row */
.answer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.answer-box {
    flex: 3;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.answer {
    width: 80%;
    height: 70%;
    border-radius: 5px;
    background: grey;
}

.button-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.submit-btn, .delete-btn, .reset-btn {
    padding: 10px;
    font-weight: bold;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
    background: lightblue;
}

.submit-btn:hover {
    background: deepskyblue;
}

.delete-btn:hover {
    background: deepskyblue;
}

.reset-btn:hover {
    background: deepskyblue;
}

/* Guess Rows */
.guess-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.delete-btn, .reset-btn {
    margin: auto;
}

.guess-row {
    display: flex;
    justify-content: space-between;
}

.guess-colors, .grade-colors {
    display: flex;
    gap: 5px;
}

.guess-color, .grade-color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
    background: grey;
}

.grade-colors {
    gap: 3px;
}

/* Color Palette */
.color-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.color-outer {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
    transition: transform 0.2s;
}

.color-outer:hover {
    transform: scale(1.2);
}

.color-inner {
    width: 60%;
    height: 60%;
    border-radius: 50%;
}

.red { 
    background: red; 
}
.green { 
    background: green;
}
.blue { 
    background: blue; 
}
.yellow { 
    background: yellow; 
}
.orange { 
    background: orange; 
}
.purple { 
    background: purple; 
}


p {
    margin: auto;
    max-width: 700px;
    line-height: 28px
}

.paragraph-box {
    border: 1px solid black;
    padding: 10px;
    margin-top: 20px;
    background-color: rgb(222, 220, 220);
}

